
@font-face {
    font-family: 'Outfit';
    src: url(../font/OutfitRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: #EEE8DF;
    font-family: 'Outfit';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C365A;
    padding: 18px 40px;
    color: #D9D9D9;
}

.nav-btn {  
    background: #D9D9D9;
    margin: 5px;
    padding: 10px 25px;
    color: #2C365A;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn1 {
    background: #2C365A;
    margin: 5px;
    padding: 10px 25px;
    color: #D9D9D9;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.nav-btn:hover {
    background: #EEE8DF;
}

.main-container {
    width: 80%;
    margin: 30px auto;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tab {
    background: #EEE8DF;
    color: #2C365A;
    padding: 20px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.search {
    padding: 18px;
    border-radius: 15px;
    border: none;
    width: 320px;
    font-size: 18px;
    background: #2C365A;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.search::placeholder {
    color: #d9d9d9;
}

.property-section {
    background: #D9D9D9;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.property-info {
    width: 68%;
    background: #2C365A;
    padding: 50px;
    flex-direction: column;
    border-radius: 20px;
    color: white;
}

.property-info p strong {
    font-size: 20px;
}

.property-img {
    width: 35%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.room-stats {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.stat-box {
    background: #2C365A;
    padding: 25px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.stat-number {
    display: inline-block;
    margin-top: 10px;
    background: #D9D9D9;
    padding: 12px 22px;
    font-size: 32px;
    border-radius: 50px;
    color: black;
}

.room-layout {
    background: white;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.tabs button {
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: #D9D9D9;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.tabs .active {
    background: #2C365A;
    color: white;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.room {
    padding: 25px;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    box-shadow: 0 5px rgba(0,0,0,0.3);
}

.occupied { background: #E51E18; }
.vacant { background: #07B76C; }

.owner-info {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
}

.owner-content {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.profile-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #dcdcdc;
}

.active-status {
    color: white;
    background: #27ae60;
    padding: 5px 18px;
    border-radius: 8px;
}

